---
import AboutHeroImage from '../assets/background-01.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="關於我"
	pubDate={new Date('2025-10-13')}
	heroImage={AboutHeroImage}
>
	<p>
		本博客由 Kirishima 維護,默認采用 CC BY-NC-SA 4.0 協議.
		但若內容涉及政治,宗教,翻譯學習作品等敏感話題,則屬於未授權内容,請勿轉載.我會特別聲明
		本人無强烈意識形態,旨在和平交流.
	</p>
</Layout>
