---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<p>
		本博客由 Kirishima& 維護,默認采用 CC BY-NC-SA 4.0 協議.
		但若內容涉及政治,宗教,翻譯學習作品等敏感話題,則屬於未授權内容,請勿轉載.
	</p>
</Layout>
